@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}   

:root {
    --cor-1: rgb(194, 212, 255);
    --cor-2: #1EB8FA;
    --cor-3: #9F1EFA;
    --cor-4: #571EFA;
    --cor-5: #1E72FA;
    --cor-6: #ffffff;
}


body{
    font-family: 'Nanum Gothic', sans-serif;
    width: 100%;
    height: 100%;
    position: relative;
}

img{
    width: 100%;
}

a{
    cursor: pointer;
    text-decoration: none;
}

h1{
    font-family:'Vina Sans', sans-serif;
    font-size: 110px;
}

/* HEADER */

.bg-home {
    position: relative;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: rgba(0, 0, 0, 0.226) 2px solid;    
}

.picture img {
    height: 80px; 
    border-radius: 50%; 
}
nav .header-items {
    display: flex;
    align-items: center;
}

.header-items a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.875); 
    margin:15px;
    padding: 5px;
    font-size: 18px;
    background-color: transparent;
    border: rgba(0, 0, 0, 0.851) 1px solid;
    border-radius: 5px;
    color: black;
    transition: transform 0.3s ease-in-out;
}

.header-items {
    margin-left: auto; 
}

.header-items a:hover {
    background-color:var(--cor-4);
    transform: translateY(-10px);
    
}

/* HOME */

.hero{
    background-image: url(/src/img/background-1.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    
}

.home-icons a {
    height: 50px;
    text-align: center;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: var(--cor-6); 
    padding: 10px;  
    margin: 10px;
}

.home-icons a:hover{
   color: var(--cor-6);
   transform: translateX(-15px);
}
  
.button-home {
    text-align: center;
    background-image: url(/src/img/background-1.jpg);
    background-position: center;
    background-size: cover;
}

.btn-home {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.btn-home:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.btn-home:active {
    color: #000
}

.btn-home:active:after {
    background: transparent;
}

.btn-home:hover:before {
    opacity: 1;
}

.btn-home:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.small-icon {
    width: 60px;
    height: 30px;
}

.small-icon:before {
    width: calc(100% + 2px);
    height: calc(100% + 2px);
}

.small-icon i {
    font-size: 30px;
    text-align: center;
}

#texto-escrevendo {
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #000; 
    font-size: 100px; 
    font-weight: normal;
    font-family: 'Fredericka the Great', serif;
    color: black; 
}
