@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    
}   
:root {
    --azul-escuro-principal: #154360;
    --azul-escuro-escuro: #0e2a47;
    --azul-escuro-claro: #1f364f;

    --laranja-energetico: #ffaa80;
    --laranja-escuro: #e67e22;
    --laranja-claro: #ffb366;

    --azul-claro-principal: #2980b9;
    --azul-claro-escuro: #1c5777;
    --azul-claro-claro: #449ac6;
    
    --cinza-neutro: #333;
    --preto-neutro: #000;
    --branco-neutro: #fff;
}



/*TUDO*/

body{
    font-family: 'Nanum Gothic', sans-serif;
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--azul-escuro-escuro);
}
img{
    width: 100%;
}
a{
    cursor: pointer;
    text-decoration: none;
}
p{
    font-family:'Arial', sans-serif;
    font-size: 24px;
}
h1{
    font-family:'Vina Sans', sans-serif;
    font-size: 75px;
}
h2{
    font-family: 'Arial', serif;
    font: 50px;
    font-size: normal;
    color: var(--laranja-claro);
}

/* HEADER */
.home{
    background-color: var(--azul-escuro-escuro);
}
.bg-home {
    position: relative;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 60px;
    padding: 20px;
    border-bottom: rgba(0, 0, 0, 0.226) 2px solid;    
    background-color: var(--azul-claro-escuro);
}
.picture img { 
    border-radius: 5px;
    height: 60px; 
} 
.header-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a {
    color: var(--branco-neutro);
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s ease;
    
} 
a:hover {
    color: var(--laranja-claro); 
} 
.header-items {
    display: flex;
    gap: 5px;   
}
.header-items a{
    text-align: center;
    padding-top: 5px;
    transition: transform 0.5s ease-in-out;
    width: 100px;
    padding-bottom: 5px;
    border: 2px solid var(--laranja-escuro);
}
.header-items a:hover {
    transform: translateY(-10px);
}

/* HOME */

.hero{
    width: 100vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px; 
    padding-top: 20px;
}
.home-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    
}
.home-icons a {
    height: 50px;
    text-align: center;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: var(--branco-neutro); 
    padding: 10px;  
    margin: 10px;
    transition: transform 0.5s ease-in-out;
}
.home-icons a:hover{
   color: var(--laranja-escuro);
   transform: translateX(-15px);
} 
.hero-content p{
    color: var(--branco-neutro);
}
.button-home {
    text-align: center;
}
.btn-home {
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    color: var(--branco-neutro);
    background: var(--preto-neutro);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}
.btn-home:before {
    content: '';
    background: linear-gradient(45deg,#ff7700 , #0099ff, #ff7700, #0099ff, #ff7700, #0099ff,#ff7700, #0099ff,#ff7700);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
.btn-home:active {
    color: var(--laranja-escuro)
}
.btn-home:active:after {
    background: transparent;
}
.btn-home:hover:before {
    opacity: 1;
}
.btn-home:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--preto-neutro);
    left: 0;
    top: 0;
    border-radius: 10px;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.small-icon {
    width: 60px;
    height: 30px;
}
.small-icon:before {
    width: calc(100% + 2px);
    height: calc(100% + 2px);
}
.small-icon i {
    font-size: 30px;
    text-align: center;
}
#texto-escrevendo {
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid var(--laranja-escuro); 
    font-size: 100px; 
    font-weight: normal;
    font-family: 'Fredericka the Great', serif;
    color: var(--laranja-escuro); 
}

/*ABOUT*/

section#about {
    width: 100vw;
    background-color: var(--azul-escuro-escuro);
}
.about-text {
    width: 70vw;
    height: 235px;
    padding: 20px;
    border-radius: 8px; 
    overflow: hidden;
    margin: 20px;
}
.about-text h2 {
    color: var(--laranja-claro); 
    font-size: 38px;
    font-family: Arial, Helvetica, sans-serif;
}
.about-text p {
    color: var(--branco-neutro); 
    font-size: 18px;
}
.about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    height: 400px;
}
.cards h1{
    color: var(--branco-neutro);
}
.skills-grid {
    display: flex;
    gap: 20px;
}
.skill-card {
    position: relative;
    overflow: hidden;
    width: 200px;  
    padding: 20px;
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
    perspective: 1000px;  
}
.card-inner {
    width: 100%; 
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}
.skill-card:hover .card-inner {
    transform: rotateY(180deg);
    
}
.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--branco-neutro);
    border-radius: 10px;
    background-color: var(--laranja-escuro);
}
.card-back {
    transform: rotateY(180deg);
}
.card-back p {
    font-size: 18px;
}

/*PROJETOS*/
  
.projetos {
    position: relative;
    background-color: var(--azul-escuro-escuro);
} 
.slideshow-container {
    height: 100vh;
    overflow: hidden;
    float: right;
}  
.slide {
    display: none;
    height: 100vh;
}  
.slide-content {
    position: absolute;
    top: 100px;
    left: 30px;
    width: 25%; 
    box-sizing: border-box;
    padding: 10px;
}  
img {
    width: 100%;
    height: 100%;
}  
.fade {
    animation: fade 1.5s ease-in-out;
} 
.radio-buttons {
    text-align: center;
    margin-top: 10px;
    padding-top: 60px;
} 
input[type="radio"] {
    display: none;
} 
.label-slide {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: var(--laranja-claro);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    
}
input[type="radio"]:checked + label {
    background-color: var(--laranja-escuro);
} 
@keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
}
.descricao{
    font-size: 25px;
    color: var(--branco-neutro);
    padding: 10px;   
}
a button {
    margin: 2px;
}   
.button-projects{
    display: flex;
}

/*CONTACT*/
section#contact{
    background-color: var(--azul-escuro-escuro);
}
section#contact h1{
    font-size: 54px;
    font-weight: normal;
}
section#contact{
    width: 100vw;
    height: 100vh;
}
.contact-content{
    width: 100vw;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font: normal;
    font-size: 24px;
    color: var(--laranja-escuro);
    padding-top: 50px;
}
.form-copy{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.click-copy{
    width: 30%;
    height: 50vh;
    margin-right: 25px;
    margin-top: 50px;
}
.contact-form{
    width: 300px;
    height: 50vh;
    margin-bottom: 165px;
}
#emailDisplay {
    border: 2px solid var(--preto-neutro);
    padding: 15px;
    margin-bottom: 20px;
    background-color: #ecf0f1;
    color: var(--azul-escuro-escuro);
    font-size: 18px;
    display: inline-block;
    border-radius: 5px;
    transition: background-color 0.3s;
}
form {
    max-width: 500px;
    margin: auto;
    background-color: var(--azul-claro-claro);
    padding: 20px;    
}
.form-label {
    display: block; 
    margin: 10px;
    list-style: none;
}
.form-input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 16px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: border-color, box-shadow 0.5s;
}
#message{
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 8px;
    min-height: 6rem;
    resize: vertical;
    transition: border-color, box-shadow 0.5s;
}
.form-input:hover,
.form-input:focus,
#message:hover,
#message:focus{
    outline: none;
    border-color: var(--laranja-claro);
    box-shadow: 0 0 0 3px var(--laranja-escuro);
}
 
/*FOOTER*/

footer {
    background-color: var(--laranja-escuro);
    color: var(--azul-escuro-escuro);
    padding: 20px 0;
    text-align: center;
    width: 100vw;
}
footer ul {
    list-style: none;
    padding: 0;
}
footer li {
    display: inline;
    margin-right: 10px;
}
footer a {
    color: var(--azul-escuro-escuro);
    text-decoration: none;
}
.btn-whatsapp {
    position: fixed;
    z-index: 99;
    bottom: 14px;
    right: 24px;
}
.btn-whatsapp img {
    max-width: 60px;
    transition: transform 0.4s;
}
.btn-whatsapp img:hover {
    transform: scale(1.1);
} 
.btn-whatsapp .tooltip-text {
    visibility: hidden;
    position: absolute;
    width: 120px;
    top: 8px;
    left: -144px;
    background-color: #232224;
    color: var(--laranja-escuro);
    padding: 6px;
    border-radius: 8px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
} 
.btn-whatsapp:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}  
@media screen and (max-width: 768px) {
    .btn-whatsapp img {
      max-width: 50px;
    }
}

/*BARRA DE ROLAGEM*/
::-webkit-scrollbar {
    width: 10px; 
}
::-webkit-scrollbar-thumb {
    background-color: var(--laranja-claro); 
    border-radius: 5px; 
}
::-webkit-scrollbar-thumb:active{
    background-color: var(--laranja-escuro);
}
::-webkit-scrollbar-track {
    background-color: var(--azul-escuro-claro); 
}

@media screen and (max-width: 768px){
    
    section#home {
        height: 100vh;
    }
    .picture{
        display: none;
    }
    .home-icons{
        flex-direction: row;
        margin: 50px;
    }
    .home-icons a:hover{
        transform: translateY(-15px);
     } 
    .hero{
        flex-direction: column;
        height: auto;
        margin-top: 0;
        padding-top: 0;
    }
    .hero-content{
        width: 95%;
        margin: 50px;
    }
    #texto-escrevendo{
        font-size: 35px;
    }
   
    
    /*SOBRE*/

    section#about{
        width: 100vw;
        min-height: 100vh;
    }
    .about-me{
        flex-direction: column;
        height: auto;
    }
    .about-text{
        width: 90vw;
        height: 400px;
    }
    .skills-grid{
        gap: 10px;
        margin-top: 10px;
        width: 90vw;
    }
    .skills-grid p{
        font-size: 15px;
    }
    .skill-card{
        padding: 0;
        height: 250px;
    }
    .cards{
        height: 500px;
        width: 100vw;
        margin-bottom: 20px;
    }
    .cards h1{
        margin-left: 15px;
    }

    /*PROJETOS*/

    .slide img {
        max-width: 100%;
        height: auto;
    }
    .slide-content{
        top: 0;
        width: 100%;
        left: 0;
        position: relative;
        padding: 0;
    }
    .descricao{
        font-size: 16px;
    }
    .projetos{
        height: 100vh;
    }
    .slideshow-container{
        height: 80%;
    }

    /*CONTATO*/

    section#contact{
        width: 90vw;
    }

    .form-copy{
        flex-direction: column;
        position: absolute;
    }
    .click-copy{
        width: 50%;
        height: 30vh;
        position: relative;
    }
    .contact-form{
        position: relative;
        margin-bottom: 0;
    }

    /*FOOTER*/

    .footer{
        margin-top: 300px;
    }
}