@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    
}   

:root {
    --cor-1: rgb(194, 212, 255);
    --cor-2: #1EB8FA;
    --cor-3: #9F1EFA;
    --cor-4: #571EFA;
    --cor-5: #1E72FA;
    --cor-6: #ffffff;
}
/*DARK_MODE*/
.dark-mode{
    background-image: url(src/img/backdark.jpeg);
    color: var(--cor-6);
}
.dark-mode .header-content{
    background-color: black;
}
.dark-mode .border-glow{
    color: #000;
    background-color: white;
}
.dark-mode .border-glow:after{
    background-color: white;
}
.dark-mode .fixed-menu{
    background-color: #000;
}
.dark-mode .home-icons a{
    color: #000;
}
.dark-mode .btn-home{
    color: #000;
    background-color: white;
}
.dark-mode .btn-home:active{
    color: #000;
}
.dark-mode .btn-home:after{
    background:white;
}
.dark-mode .home-icons a:hover{
    color: #000;
}
.dark-mode #texto-escrevendo{
    color: white;
}
.dark-mode .about-text{
    background-color: #000;
}
.dark-mode .about-text h2{
    color: white;
}
.dark-mode .about-text p{
    color: white;
}
.dark-mode .card-front,
.card-back{
    color: black;
    background-color: white;
}
.dark-mode .descricao{
    color: white;
    background-color: #000;
}
.dark-mode .contact-content{
    color: white;
}
.dark-mode #emailDisplay{
    border: 2px solid white;
}
.dark-mode footer{
    color: #000;
    background-color: #fff;
}
.dark-mode footer a{
    color: #000;
}
.dark-mode .btn-whatsapp .tooltip-text{
    color: #333;
    background-color: white;
}



body{
    font-family: 'Nanum Gothic', sans-serif;
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url(src/img/background-1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

img{
    width: 100%;
}

a{
    cursor: pointer;
    text-decoration: none;
}

p{
    font-family:'Arial', sans-serif;
    font-size: normal;
}

h1{
    font-family:'Vina Sans', sans-serif;
    font-size: 75px;
}

h2{
    font-family: 'Fredericka the Great', serif;
    font: 50px;
    font-size: normal;
}

/* HEADER */

.bg-home {
    position: relative;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: rgba(0, 0, 0, 0.226) 2px solid;    
    background-color: white;
}

.picture img {
    height: 60px; 
    border-radius: 50%; 
}

.header-items {
    display: flex;
    justify-content: space-around;
}

.border-glow {
    min-width: 100px;
    min-height: 40px;
    max-height: 300px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.header-items a{
    text-align: center;
    padding-top: 10px;
    transition: transform 0.5s ease-in-out;
    width: 100px;
}

.header-items a:hover {
    transform: translateY(-10px);
}


.border-glow:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.border-glow:hover:before {
    opacity: 1;
}

.border-glow:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.fixed-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: white;
    z-index: 1000;
    padding-top: 20px; 
}

/* HOME */

.hero{
    width: 100vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px; 
    padding-top: 20px;
}

.home-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    
}

.home-icons a {
    height: 50px;
    text-align: center;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: var(--cor-6); 
    padding: 10px;  
    margin: 10px;
    transition: transform 0.5s ease-in-out;
}

.home-icons a:hover{
   color: var(--cor-6);
   transform: translateX(-15px);
}
  
.button-home {
    text-align: center;
    margin-bottom: 30px;
}

.btn-home {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.btn-home:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.btn-home:active {
    color: #fff
}

.btn-home:active:after {
    background: transparent;
}

.btn-home:hover:before {
    opacity: 1;
}

.btn-home:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.small-icon {
    width: 60px;
    height: 30px;
}

.small-icon:before {
    width: calc(100% + 2px);
    height: calc(100% + 2px);
}

.small-icon i {
    font-size: 30px;
    text-align: center;
}

#texto-escrevendo {
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #000; 
    font-size: 100px; 
    font-weight: normal;
    font-family: 'Fredericka the Great', serif;
    color: black; 
}

/*ABOUT*/


section#about {
    width: 100vw;
    height: 100vh;
    display: flex;
    margin-top: 80px; 
    padding-top: 70px;
}


.about-text {
    width: 50%;
    height: 500px;
    padding: 20px;
    background-color: white;
    border-radius: 8px; 
    overflow: hidden;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.500);
}


.about-text h2 {
    color: black; 
    font-size: 28px;
}

.about-text p {
    margin-bottom: 15px;
    color: black; 
}

.about-text img{
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    
}

.about-text {
    position: relative;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.cards {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.skills-grid {
    display: flex;
    gap: 20px;
}

.skill-card {
    position: relative;
    overflow: hidden;
    width: 200px;  
    padding: 20px;
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
    perspective: 1000px;
    
}

.card-inner {
    width: 100%; 
    height: 160%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.skill-card:hover .card-inner {
    transform: rotateY(180deg);
    
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    border-radius: 10px;
    background-color: black;
}

.card-back {
    transform: rotateY(180deg);
}

.card-back p {
    margin: 0;
}

/*PROJETOS*/
  
.projetos {
    position: relative;
}
  
.slideshow-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
  
.slide {
    display: none;
    height: 100vh;
}
  
.slide-content {
    position: absolute;
    top: 100px;
    left: 30px;
    width: 25%; 
    box-sizing: border-box;
    padding: 10px;
}
  
img {
    width: 100%;
    height: 100%;

}
  
.fade {
    animation: fade 1.5s ease-in-out;
}
  
.radio-buttons {
    text-align: center;
    margin-top: 10px;
}
  
input[type="radio"] {
    display: none;
}
  
.label-slide {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    
}
  
input[type="radio"]:checked + label {
    background-color: #555;
}
  
@keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
}

.descricao{
    font-size: 25px;
    color: #000;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}

a button {
    margin: 10px; 
}    

/*CONTACT*/

section#contact h1{
    font-size: 54px;
}

section#contact{
    width: 100vw;
    height: 100vh;
}

.contact-content{
    width: 100vw;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font: normal;
    font-size: 24px;
    color: black;
}

.form-copy{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.click-copy{
    width: 30%;
    height: 50vh;
    margin-right: 25px;
    margin-top: 50px;
}

.contact-form{
    width: 300px;
    height: 50vh;
}

#emailDisplay {
    border: 2px solid #000;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #ecf0f1;
    color: #2c3e50;
    font-size: 18px;
    display: inline-block;
    border-radius: 5px;
    transition: background-color 0.3s;
}

form {
    max-width: 500px;
    margin: auto;
    background-color: #afafaf;
    padding: 20px;
  }

.form-label {
    display: block; 
    margin: 10px;
    list-style: none;
    
}

.form-input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 16px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: border-color, box-shadow 0.5s;
}

#message{
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 8px;
    min-height: 6rem;
    resize: vertical;
    transition: border-color, box-shadow 0.5s;
}

.form-input:hover,
.form-input:focus,
#message:hover,
#message:focus{
    outline: none;
    border-color: var(--cor-1);
    box-shadow: 0 0 0 3px var(--cor-2);
}
 
/*FOOTER*/

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 20px;
    width: 100vw;
  }

  footer ul {
    list-style: none;
    padding: 0;
  }

  footer li {
    display: inline;
    margin-right: 10px;
  }

  footer a {
    color: #fff;
    text-decoration: none;
  }

  .btn-whatsapp {
    position: fixed;
    z-index: 99;
    bottom: 14px;
    right: 24px;
  }
  .btn-whatsapp img {
    max-width: 60px;
    transition: transform 0.4s;
  }
  .btn-whatsapp img:hover {
    transform: scale(1.1);
  }
  
  .btn-whatsapp .tooltip-text {
    visibility: hidden;
    position: absolute;
    width: 120px;
    top: 8px;
    left: -144px;
    background-color: #232224;
    color: #fff;
    padding: 6px;
    border-radius: 8px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .btn-whatsapp:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  
  @media screen and (max-width: 768px) {
    .btn-whatsapp img {
      max-width: 50px;
    }
  }